In [1]:
import pandas as pd
import numpy as np

In [2]:
Data = pd.read_csv("D:\ExcelR\Assignment\Hypothesis testing\Costomer+OrderForm.csv")
Data.head()

  Phillippines   Indonesia       Malta       India
0   Error Free  Error Free   Defective  Error Free
1   Error Free  Error Free  Error Free   Defective
2   Error Free   Defective   Defective  Error Free
3   Error Free  Error Free  Error Free  Error Free
4   Error Free  Error Free   Defective  Error Free

In [3]:
Data.mean()

C:\Users\Mukta\AppData\Local\Temp/ipykernel_9208/2267807100.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  Data.mean()

Series([], dtype: float64)

In [4]:
Data.describe()

       Phillippines   Indonesia       Malta       India
count           300         300         300         300
unique            2           2           2           2
top      Error Free  Error Free  Error Free  Error Free
freq            271         267         269         280

In [8]:
Data.Phillippines.value_counts()

Error Free    271
Defective      29
Name: Phillippines, dtype: int64

In [9]:
Data.Indonesia.value_counts()

Error Free    267
Defective      33
Name: Indonesia, dtype: int64

In [10]:
Data.Malta.value_counts()

Error Free    269
Defective      31
Name: Malta, dtype: int64

In [11]:
Data.India.value_counts()

Error Free    280
Defective      20
Name: India, dtype: int64

In [12]:
Data_1 = [[271,267,269,280],[29,33,31,20]]
Data_1

[[271, 267, 269, 280], [29, 33, 31, 20]]

In [15]:
from scipy.stats import chi2_contingency
p_value = chi2_contingency(Data_1)
p_value

(3.858960685820355,
 0.2771020991233135,
 3,
 array([[271.75, 271.75, 271.75, 271.75],
        [ 28.25,  28.25,  28.25,  28.25]]))

In [16]:
if p_value[1]>0.05:
    print("Accept Null Hypothesis")
else:
    print("Reject Null Hypothesis")

Accept Null Hypothesis